{{ partial "header.html" . }}
    <!-- Main Content -->
    <div class="container">
     <div class="row">
       <div>
    {{ $paginator := .Paginate (where .Data.Pages "Type" "blog") }}
    {{ partial "pagination.html" . }}
    <div class="blog-articles">
    {{ range $paginator.Pages }}
      {{ partial "summary.html" . }}
    {{ end }}
    </div>
         {{ range .Paginator.Pages }}
         {{ end }}
         {{ partial "pagination.html" . }}
       </div>
     </div>
    </div>

{{ partial "footer.html" . }}
