$colorBlack: #000;
$colorWhite: #fff;
$colorRed:#E63623;
$colorGold:#FFF503;
$colorGreen: #75FA4C;
$colorBlue:#0020F5;
$colorGrey: #9E9E9E;

$mainFont: 'Space Mono', monospace;
$secondFont: 'Gobold', sans-serif;

$fontExtralight:200;
$fontLight: 300;
$fontRegular: 400;
$fontMedium: 500;
$fontSemibold: 600;
$fontBold: 700;
$fontBlack: 900;