{{ partial "frontpage_header.html" .}}

<div class="container-fluid py-4" id="top-sponsors-container">
    <div class="container ">
        <div class="row justify-content-center" id="top-sponsors">
            <div class="col-md-2 col-sm-12 text-center">
                <p>Top sponsors</p>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12 text-center">
                <a href="https://code.facebook.com/posts/">
                    <img class="img-fluid center-block" src="media/sponsor-facebook.png" />
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12 my-4 text-center my-3 my-sm-0">
                <a class="" href="https://kinvolk.io">
                    <img class="img-fluid center-block" src="media/sponsor-kinvolk.png" />
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12 text-center">
                <a href="https://www.redhat.com/en">
                    <img class="img-fluid center-block" src="media/sponsor-redhat.svg" />
                </a>
            </div>
            <div class="col-md-2 col-xs-12 mt-3 mt-md-0 text-center">
                <p class="text-nowrap small-link">
                    <a href="https://github.com/all-systems-go-conf/conference/blob/master/Documents/Sponsorship/Sponsorship%20Prospectus:%20All%20Systems%20Go!%202018.pdf">
                        Become a sponsor
                    </a>
                    </br>
                    <a href="#sponsors">
                        See all sponsors
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row text-center" id="about-asg">
        <div class="col pt-4 mt-5 mb-3">
            <p>
                <i>All Systems Go!</i> is a conference focused on foundational user-space Linux technologies. Its goal is to
                provide a gathering place for both contributors and users of projects that make up the foundation of modern
                Linux systems.
            </p>
        </div>
    </div>
    <div class="row section" id="featured-speakers">
        <div class="col pt-4 mt-5 mb-3">
            <h1>Featured speakers</h1>
            <div class="card-columns speakers">
            {{ range $i, $speaker := sort $.Site.Data.speakers.speakers "name" "asc" }}
                {{ partial "featured-speaker.html" (dict "ctx" . "speaker" $speaker) }}
            {{ end }}
            </div>
        </div>
    </div>
    <div class="row section">
        <div class="col" id="schedule">
            <h1>Schedule</h1>

            <div class="alert alert-info" role="alert">
              The full <a href="https://cfp.all-systems-go.io/en/ASG2018/public/schedule">All Systems Go! 2018 Schedule</a> is now available!
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Event</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Location</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-nowrap">Early registration event</td>
                        <td class="text-nowrap">Sept. 27</td>
                        <td class="text-nowrap">6:30 - 9:00</td>
                        <td class="text-nowrap">Kinvolk Office</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap">Conference - Day 1</td>
                        <td class="text-nowrap align-middle" rowspan="2">Sept. 28</td>
                        <td class="text-nowrap">9:30 - 7:00</td>
                        <td>Spreewerkstätten</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap">Social event</td>
                        <td class="text-nowrap">8:00-Late</td>
                        <td class="text-nowrap"><a href="https://www.mein-haus-am-see.club/">Mein Haus am See</a></td>
                    </tr>
                    <tr>
                        <td class="text-nowrap">Conference - Day 2</td>
                        <td class="text-nowrap">Sept. 29</td>
                        <td class="text-nowrap">9:30 - 7:00</td>
                        <td>Spreewerkstätten</td>
                    </tr>
                    <tr>
                        <td>Hackfest - Day</td>
                        <td>Sept. 30</td>
                        <td>10:00 - 6:00</td>
                        <td>Spreewerkstätten (Gallerie)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row section">
        <div class="col" id="tickets">
            <h1>Tickets</h1>
            <p>
	    <b>Tickets are now available! Get yours <a href="https://ti.to/all-systems-go/all-systems-go-2018/">here</a>.</b> Tickets are priced to enable everyone to attend and
                to ensure the event is sustainable.
                <i>Student</i> and
                <i>hobbyist</i> tickets are available to non-professional attendees.
                <i>Professional</i> attendees should purchase either an individual ticket or, if your company is sponsoring
                your attendance, a
                <i>Corporate</i> ticket.
            </p>
            <p>If your organization needs to purchase several tickets, please consider sponsoring and receive tickets included.
            </p>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col" class="text-nowrap">Ticket type</th>
                        <th scope="col" class="text-nowrap">Early bird</th>
                        <th scope="col">Standard</th>
                        <th scope="col">Late</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-nowrap">Student/Hobbyist</td>
                        <td class="text-nowrap">&euro;35</td>
                        <td class="text-nowrap">&euro;45</td>
                        <td class="text-nowrap">&euro;55</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap">Individual Professional</td>
                        <td class="text-nowrap">&euro;180</td>
                        <td class="text-nowrap">&euro;210</td>
                        <td class="text-nowrap">&euro;230</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap">Corporate</td>
                        <td class="text-nowrap">&euro;350</td>
                        <td>&euro;400</td>
                        <td>&euro;450</td>
                    </tr>
                </tbody>
            </table>
            <p class="font-italic">* Diversity tickets will be made available shortly.</p>
            <!-- <a href="LinktoTicket" class="btn btn-secondary btn-lg" role="button" aria-disabled="false">Buy tickets</a></div> -->
        </div>
    </div>
    <div class="row section">
        <div class="col sub-section" id="code-of-conduct">
            <h1>Code of Conduct</h1>
            <p>The All Systems Go! organizing team is dedicated to providing a harassment-free conference experience for everyone.
                Our Code of Conduct defines guidelines and procedures that all participants must follow in order to provide
                a great conference experience for everyone. </p>
            <a href="/code-of-conduct" class="btn btn-secondary btn-lg" role="button" aria-disabled="false">Read our Code of Conduct</a>
        </div>
        <div class="col sub-section" id="cfp">
          <h1><s>Call for Participation</s></h1>
            <div class="alert alert-danger" role="alert">
              The CFP closed on July 31st.
            </div>
            <p>All Systems Go! wants to encourage and attract as broad an interest as possible from projects that are within
                its focus area while at the same time ensuring that we get submissions and project involvement related to
                the following topics...
            </p>
            <ul>
                <li>Service management</li>
                <li>Process isolation</li>
                <li>Monitoring and tracing</li>
                <li>Networking</li>
                <li>Debugging and tooling</li>
                <li>Security</li>
                <li>...etc.</li>
            </ul>
            <a href="https://cfp.all-systems-go.io/ASG2018/cfp" class="btn btn-secondary btn-lg" role="button" aria-disabled="false"><s>Submit your presentation</s></a>
        </div>
            <!-- <a href="/call-for-participation" class="btn btn-secondary btn-lg" role="button" aria-disabled="false">
                Make a submission
            </a> -->
        </div>
    </div>
</div>
<div class="container-fluid" id="sponsor-section">
    <div class="container ">
        <div class="row section" id="sponsors">
            <div class="col">
                <h1>Sponsors</h1>
                <p>All Systems Go! is only possibly because of the generous support from these sponsors.</p>
                <div class="row justify-content-center">
                    <h2>Solar</h2>
                </div>
                <div class="row solar my-5 align-items-center">
                    <div class="col-md-4 ml-auto text-center">
                        <a href="https://code.facebook.com/posts/">
                            <img class="img-fluid center-block" alt="image" src="media/sponsor-facebook.png"></img>
                        </a>
                    </div>
                    <div class="col-md-4 text-center">
                        <a class="" href="https://kinvolk.io">
                            <img class="img-fluid center-block" alt="image" src="media/sponsor-kinvolk.png"></img>
                        </a>
                    </div>
                    <div class="col-md-4 mr-auto text-center">
                        <a href="https://www.redhat.com/en">
                            <img class="img-fluid center-block" alt="image" src="media/sponsor-redhat.svg"></img>
                        </a>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div>
                        <h2>Terrestrial</h2>
                    </div>
                </div>
                <div class="row lunar my-5 align-items-center justify-content-md-center">

                    <div class="col-md-4 col-sm-6 text-center">
                        <a href="https://amazon.com/">
                            <img class="img-fluid center-block" alt="image" src="/media/sponsor-amazon.svg" />
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-6 text-center">
                        <a href="https://en.avm.de/">
                            <img class="img-fluid center-block" alt="image" src="/media/sponsor-avm.svg" />
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-6 text-center">
                        <a href="https://www.axis.com/">
                            <img class="img-fluid center-block" alt="image" src="/media/sponsor-axis.png" />
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-6 text-center">
                        <a href="https://www.collabora.com/">
                            <img class="img-fluid center-block" alt="image" src="/media/sponsor-collabora.png" />
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-6 text-center">
                        <a href="https://www.microsoft.com/">
                            <img class="img-fluid center-block" alt="image" src="media/sponsor-microsoft.png"></img>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-6 text-center">
                        <a href="https://www.opensuse.org/">
                            <img class="img-fluid center-block" alt="image" src="media/sponsor-opensuse.png"></img>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-6 text-center">
                        <a href="https://pantheon.io/">
                            <img class="img-fluid center-block" alt="image" src="media/sponsor-pantheon.png"></img>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mx-auto text-center">
                        <a href="https://github.com/all-systems-go-conf/conference/raw/master/Documents/Sponsorship/Sponsorship%20Prospectus:%20All%20Systems%20Go!%202018.pdf" class="btn btn-secondary btn-lg" role="button" aria-disabled="false">
                            Become a sponsor
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container ">
    <div class="row section" id="venue">
        <div class="col-12">
            <h1>Venue</h1>
            <p>All Systems Go!</span> takes place in the heart of Berlin at
                <a href="http://spreewerkstaetten.de/">Spreewerkstätten</a>, a short walk from Alexanderplatz and directly on the river Spree.
            </p>
        </div>
        <div class="col">
            <div class="vimeo container">
                <figure class="figure" style="position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; width: 100%; height: 100%;">
                    <iframe src="//player.vimeo.com/video/148142182" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
                        webkitallowfullscreen mozallowfullscreen allowfullscreen>
                    </iframe>
                    <figcaption class="figure-caption">Spreewerkstätten promotional video.</figcaption>
                </figure>
            </div>
        </div>
        <div class="col">
            <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=13.40574771165848%2C52.513937324769046%2C13.410200178623201%2C52.51710715202219&amp;layer=mapnik&amp;marker=52.51552226697952%2C13.407973945140839"
                style="border: 1px solid black"></iframe>
            <br/>
            <small>
                <a href="http://www.openstreetmap.org/?mlat=52.51552&amp;mlon=13.40797#map=19/52.51552/13.40797">View Larger Map</a>
            </small>
        </div>
    </div>
</div>
<div class="container-fluid mt-5" id="prev-year-section">
    <div class="container ">
        <div class="row section" id="asg-2017">
            <div class="col-12">
                <h1>A look back at 2017</h1>
                <p>2017 was the inaugural edition of All Systems Go!. We welcomed over 200 attendees for 2 days of talks, discussions
                    and collaborating. We captured some of that in the photos and videos below.
                </p>
            </div>
            <div class="col-12">
                <h2>Photos from 2017</h2>
                <a data-flickr-embed="true" data-header="true" data-footer="true" href="https://www.flickr.com/photos/139110107@N04/albums/72157661758238257"
                    title="All Systems Go! 2017">
                    <img src="https://farm5.staticflickr.com/4680/38447330654_385721359c_b.jpg" width="100%" alt="All Systems Go! 2017">
                </a>
                <script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
            </div>
            <div class="col-12">
                <h2>Talks from 2017</h2>
                <iframe width="1024" height="768" src="https://www.youtube.com/embed/videoseries?list=PLWYdJViL9Eio5o5j4Uth_-Mt0FPrYXNwx"
                    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</div>


{{ partial "footer.html" .}}
