//
// All Systems Go! theme
//
 
// Import bootstrap with our custom variables.
@import "custom";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto+Mono:400,700|Roboto:400,500,700|VT323');;
$font-text: 'Open Sans', sans-serif;
$font-header: 'Roboto', sans-serif;
$font-title: 'Roboto', sans-serif; 
$font-info: 'Open Sans', sans-serif;
$font-mono: 'Roboto Mono', monospace;
$font-digital: 'VT323', monospace;

$color-red: #FF0000;
$color-green: #00FF00;
$color-blue: #0000FF;

$color-bg: #DDD;
$color-grey: #999;

$color-black: #000;
$color-white: #fff;

html {
    height: 100%;
}

body {
    color: $color-black;
    background-color: $color-bg;
    display: flex;
    flex-direction: column;
    font-family: $font-text;
    font-size: 20px;
    min-height: 100%;
    overflow-x: hidden;
}

::selection {
    background: $color-green;
    color: white;
  }

.article-content {
    width: 100%;
}

pre {
    max-height: 580px;
}

// Provide some space on the edges.
.container>.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

article {
    flex: 1;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $color-black;
    }

}

#clients {
    margin-top: 30px;
}

p,
li {
    font-weight: 300;
    line-height: 1.6em;
}

figcaption {
    font-size: 16px;
    text-align: right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    // text-transform: uppercase;
    font-family: $font-header;
    font-weight: 700;
}

.header-brand {
    font-weight: 300;
    margin-bottom: 8px;
    width: 130px;
}

.header-divider {
    font-weight: 200;
}

// Jumbotron
#jumbotron {
    padding-bottom: 120px;
    padding-top: 250px;
    background-image: url("/img/adrian-pelletier-367195-unsplash.jpg");
    background-size: cover;


    .title {
        color: $color-red;
        font-family: $font-digital;
        font-size: 6em;
        margin-bottom: 15px;
    }
    
    .subtitle {
        background-color: $color-blue;
        color: $color-white;
        font-family: $font-digital;
    }

    .conf-details {
        font-family: $font-digital;
        font-weight: 500;
        color: $color-green;
        font-size: 1.6em;
    }
}

header {
     margin-bottom: 60px;
     margin-top: -180px;

     h1 {
         font-size: 2.3em;
         margin-bottom: 30px;
         text-align: center;
     }

     h2 {
         font-size: 2em;
         font-weight: 200;
         text-align: center;
     }
}

#frontpage-header {
    margin-bottom: 0;   
}

header,
footer {
    color: $color-white;
}

blockquote {
     background: none;
}

.team-card {
    border-width: 0;
    height: 100%;
}

.team-intro {
    font-size: 28px;
    margin-bottom: 5rem;
    margin-top: 1rem;
}

.article-header {
    margin-bottom: 30px;

    >h1 {
        font-family: $font-title;
        font-size: 2.4em;
        font-weight: 400;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    >p {
        color:$color-black;
        font-family: $font-info;
        font-size: 1em;
        font-style: oblique;
        font-weight: 400;
    }
}

.blog-articles {
    article:nth-last-of-type(n+2) {
        border-bottom: 30px ridge $color-blue;
    }

    article:nth-of-type(n+2) {
        border-top: 15px groove $color-green;
        padding-top: 60px;
    }
    article {
        padding-bottom: 60px;
    }
}

.article-summary {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        display: none;
    }
}

.btn-primary:active:focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
     background: $color-blue; 
     border: 0;
}

#footer {
    min-height: 200px;
}

footer {
    margin-top: 40px;

    a,
    a:hover {
        color: $color-white;
    }

    .text-muted {
        color: $color-white;
    }

    .quicklinks {
        margin-bottom: 20px;

        a,
        a:active:focus,
        a:active,
        a:focus,
        a:hover {
            font-weight: 200;
            font-size: 1.6em;
            text-decoration: none;
        }

        li::after {
            content: "•";
            margin-left: 8px;
            font-size: 1.6em;
            // text-decoration: none;
            font-weight: 300;
        }

        li:last-child::after {
            content: none;
        }
    }

    .social a {
        color: $color-red;
    }

    > .container {
        padding-bottom: 30px;
        padding-top: 40px;
    }
}

#menu-blog {
    background-color: $color-blue;
    color: $color-white;
}
#menu-sponsorship {
    background-color: $color-green;
    color: $color-white;

    .dropdown-menu {
        border: 8px solid $color-green;
        background-color: $color-bg;
        
        .dropdown-item:active {
            background-color: $color-red;
        }
    }
}

#menu-program {
    background-color: $color-red;
    color: $color-white;

    .dropdown-menu {
        border: 8px solid $color-red;
        background-color: $color-bg;
    }
}

#menu-conference {
    background-color: $color-blue;
    color: $color-white;

    .dropdown-menu {
        border: 8px solid $color-blue;
        background-color: $color-bg;
    }
    .dropdown-item:active {
        background-color: $color-green;
    }
}

#top-sponsors-container {
    background-color: $color-red;
    color: $color-white;
}

.small-link {
    font-size: 0.8em;
    font-weight: 200;
    text-decoration: underline;
    a {
        color: $color-white;
    }
}

.section {
    margin-top: 30px;
    margin-bottom: 60px;

    h1 {
        font-family: $font-digital;
        color: $color-blue;
        font-size: 2.4em;
        margin-bottom: 24px;
    }
    h2 {
        font-family: $font-digital;
        color: $color-red;
        font-size: 2.0em;
        margin-top: 40px;
        margin-bottom: 24px;
    }
}

#top-sponsors {
    div {
        height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    img {
        max-height: 85px;
        width: auto;
        object-fit: contain;
    }
}

#sponsor-section {
    padding: 2em;
    background: $color-white;
    border: 10px solid $color-green;
    margin-bottom: 60px;

    h1 {
        color: $color-red;
    }
}

#prev-year-section {
    padding-top: 2em;
    background: black;
    color: $color-white;
}

#sponsors {
    h2 {
        color: $color-grey;
        font-family: $font-mono;
        font-weight: 200;
        font-size: 1.2em;
    }
    .solar,
    .lunar {
        div {
            a {
                max-height: 100%;
                object-fit: contain;
            }
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }

    .lunar {
        img {
            max-height: 120px;
            max-width: 150px;
        }
    }
    .solar {
        img {
            max-height: 180px;
            max-width: 240px;
        }
    }
}

.copyright {
    color: $color-black;
    margin-bottom: 0;
}

#about-asg {
    font-size: 1.5em;
    font-weight: 300;
}

.navbar {
    background: transparent none repeat scroll 0% 0%;
    border-color: transparent;

    .nav-item {
        .nav-link,
        .nav-link:hover {
            color: $color-white;
        }
    }
    
    .dropdown-item:active {
        background-color: $color-blue;
    }

    .navbar-toggler {
        background-color: $color-green;
    }
}

.navbar-brand img {
    width: 80px;
}

.section-head {
    padding-bottom: 24px;
}

.section-heading {
    padding-top: 40px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 40px;
}

.section-subheading {
    font-weight: 400;
}

.btn-xl {
    border-radius: 3px;
    font-size: 18px;
    font-weight: 700;
    padding: 20px 40px;
    text-transform: uppercase;
}