    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="article-header">
                    <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
                    <ul>
                    {{ range .Params.tags }}
                        <li><a href="/tags/{{ . }}">{{ . }}</a></li>
                    {{ end }}
                    </ul>
                </div>
                <div class="article-content">
                  {{ .Content }}
                </div>
            </div>
        </div>
    </article>
