    <!-- Footer -->
    <footer id="footer">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6">
                  <ul class="list-inline social">
                    <li class="list-inline-item">
                      <a href="mailto:{{ .Site.Params.Email }}">
                          <i class="fa fa-envelope fa-2x"></i>
                      </a>
                    </li>
                    {{ range .Site.Params.social }}
                    <li class="list-inline-item">
                      <a href="{{ .url }}">
                        <i class="fab fa-{{ .title }} fa-2x"></i>
                      </a>
                    </li>
                    {{ end }}
                  </ul>
                </div>
                <div class="col-md-6" >
                  <p class="copyright float-sm-right align-baseline">{{ .Site.Copyright }}</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{ .Site.BaseURL }}js/jquery.slim.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ .Site.BaseURL }}js/bootstrap.min.js"></script>

    <!--Prism initialization-->
    <script src="{{ .Site.BaseURL }}js/prism.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{{ .Site.BaseURL }}js/asg.min.js"></script>

    <!-- <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script> -->
</body>

</html>
