<header class="header">
  <div class="header__container">
    <div class="header__wrapper">
      <a class="header__logo" href="{{ .Site.BaseURL }}">
        <img src="{{ .Site.BaseURL }}images/logo/logo.svg" width="200" height="47" alt="All systems go logotype" draggable="false">
      </a>
      <div class="header__hamburger">
        <span></span>
        <span></span>
      </div>
    </div>
    <nav class="header__menu menu">
      <ul class="menu__list">
        {{ range .Site.Menus.main }}
        <li class="menu__item"><a class="menu__link" href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </nav>
    <div class="header__date">
      <p>{{ .Site.Params.Header.notice }}</p> 
      <p>{{ .Site.Params.Header.eventCity }}</p> 
    </div>
    {{ if .Site.Params.ticketsLink }}
    <a class="header__button btn btn-simple" href="{{ .Site.Params.ticketsLink }}" target="_blank">Register</a>
    {{ end }}
  </div>
</header>