{{ partial "head.html" .}}

    <!-- Page Header -->
    <header class="intro-header" id="frontpage-header">
     <div id="jumbotron">
        <div class="container">
             <h1 class="title">{{ .Site.Title }}</h1>
             <h2 class="subtitle mx-5"> {{ .Site.Params.Subtitle }} </h2>
             <div class="container conf-details pt-4 text-nowrap text-center">
                <div class="row justify-content-center conf-details">
                    <div class="col-md-4 mr-3">Sept. 28-30, 2018</div>
                    <div class="col-md-4 ml-3">Berlin</div>
              </div>
        </div>
     </div>
    </header>
