<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ .Site.Params.Description }}">
    <meta name="author" content="{{ .Site.Params.Author }}">

    <title>{{ .Title }} | {{ .Site.Params.Subtitle }}</title>

    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon32.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/images/favicon/favicon64.png">
    <link rel="apple-touch-icon" sizes="128x128" href="/images/favicon/favicon128.png">
    <link href="https://fonts.googleapis.com/css?family=Space+Mono:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css">

    {{ if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}

      <!-- Custom CSS -->
      {{ $options := (dict "targetPath" "/css/style.css" "outputStyle" "compressed" "enableSourceMap" true) }}
      {{ $style := resources.Get "scss/index.scss" | resources.ToCSS $options }}

      <link rel="stylesheet" href="{{ $style.Permalink }}" />

</head>

<body class="{{ if .IsHome }}main-page{{ end }}">


