<section id="clients">
    <!-- Main Content -->
    <div class="container">
        <h1 class="text-sm-center text-uppercase">
            Our Clients
        </h1>
        <div class="row align-items-center">
            <div class="col-md-3 client">
                <img class="img-fluid center-block" alt="test image" src="{{.Site.BaseURL}}img/clients/blablacar-logo.png"></img>
            </div>
            <div class="col-md-3 client">
                <img class="img-fluid center-block" alt="test image" src="{{.Site.BaseURL}}img/clients/chef-logo.png"></img>
            </div>
            <div class="col-md-3 client">
                <img class="img-fluid center-block" alt="test image" src="{{.Site.BaseURL}}img/clients/coreos-logo.png"></img>
            </div>
            <div class="col-md-3 client">
                <img class="img-fluid center-block" alt="test image" src="{{.Site.BaseURL}}img/clients/endless-logo.jpg"></img>
            </div>
       </div>
        <div class="row align-items-center">
            <div class="col-md-3 ml-auto client">
                <img class="img-fluid center-block" alt="test image" src="{{.Site.BaseURL}}img/clients/giantswarm-logo.png"></img>
            </div>
            <div class="col-md-3 client">
                <img class="img-fluid center-block" alt="test image" src="{{.Site.BaseURL}}img/clients/nasdaq-logo.svg"></img>
            </div>
             <div class="col-md-3 mr-auto client">
                <img class="img-fluid center-block" alt="test image" src="{{.Site.BaseURL}}img/clients/weaveworks-logo.png"></img>
            </div>
        </div>
    </div>
</section>
